{% extends 'vocabulary/base.html' %}
{% block content %}
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">
          {% if question_field == "english" %}
            {{question.english}}
          {% elif question_field == "hanzi" %}
            {{question.hanzi}}
          {% elif question_field == "jyutping" %}
            {{question.juytping}}
          {% endif %}
          </h1>
          <div class="container">

            <div class="row justify-content-center">
              {% for answer, style in answers %}
                  <div class="col-3">
                    <form action="{% url 'vocabulary:result' %}" method="POST">
                      {% csrf_token %}
                      <input id="question_id" name="question_id" type="hidden" value="{{ question_record.id }}">
                      <input id="answer_id" name="answer_id" type="hidden" value="{{ answer.id }}">
                      {% if answer_field == "english" %}
                        <input class="btn btn-primary btn-lg {{ style }}" type="submit" name="answer" value="{{ answer.english }}">
                      {% elif answer_field == "hanzi" %}
                        <input class="btn btn-primary btn-lg {{ style }}" type="submit" name="answer" value="{{ answer.hanzi }}">
                      {% elif answer_field == "jyutping" %}
                        <input class="btn btn-primary btn-lg {{ style }}" type="submit" name="answer" value="{{ answer.jyutping }}">
                      {% endif %}

                    </form>
                  </div>
              {% endfor %}
            </div>
        </div>

        </div>
      </section>

      <div class="options py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">
              <p>
              <a href="{% url 'vocabulary:test' %}" class="btn btn-primary my-2">Next</a>

              </p>
              </div>
            </div>
        </div>
      </div>
{% endblock %}
